.ExcelExportRow {
  margin-top: 20px;

  .ExcelExport {
    background-color: white;
    padding: 2%;
    border: 2px solid rgb(236, 236, 236);
    text-align: center;
  }
}

.ExportDataTable {
  background-color: white;
  padding: 20px;
  margin: 1%;
}
