::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* Track */
.moreMenu::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.moreMenu {
  height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 12px;
  z-index: 100;
  border-radius: 4px;
  font-family: "Nunito";
  // background-color: antiquewhite;
  background-color: white;
  border: 1px solid rgb(211, 211, 211);
  box-shadow: -5px 30px 197px 1200px rgba(0, 0, 0, 0.5) !important;

  button {
    &:hover {
      color: black;
      // background-color: white;
      // box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px,
      //   rgba(0, 0, 0, 0.2) 0px 1px 4px -1px;
      opacity: 1;
    }
  }
  .ant-menu-item-active {
    &:hover {
      color: black;
    }
  }

  .ant-dropdown-menu-title-content {
    color: rgb(97, 97, 97);
  }
  .ant-menu-item-selected {
    background-color: white;
  }
  .ant-dropdown-menu-item {
    // border-bottom: 0.5px solid rgb(223, 223, 223);
  }

  // .ant-btn-icon-only.ant-btn-sm {
  //   width: 28px;
  //   padding-left: 6px;
  //   padding-right: 10px;
  // }
}

.ant-popover-inner-content {
  background-color: hsl(0, 0%, 96%);
}
