.PratibedanWrap {
  width: 100%;
  justify-content: center;
  display: flex;
  //   background-color: green;
  .PlinthPratibedan {
    padding: 50px 80px;
    max-width: 800px;
    background-color: white;
    font-size: 22px;
  }
}
