.PrintNoticeDiv {
  width: 650px;
  // align-items: center;
  padding-left: 60px;
  height: 900px;
  // background-color: grey;
  // text-align: center;
  // display: flex;
  // flex-flow: column;
  // justify-content: center;
  // align-items: center;
  // height: auto;
}
