$dark1: #203346ce;
$dark2: #474e55e3;
$dark3: rgb(51, 55, 56);
$dark4: rgb(142, 145, 146);

$lightgrey1: #f7f7f7;
$lightgrey2: #eeeeee;
$lightgrey3: #dfdfdf;
$lightgrey4: #d3d3d3;

$darkblue3: #004280;
$darkblue2: #005cb3;
$darkblue1: #1890ff;

$lightblue1: #91c6f8;

$bgLightBlue: #b1cff825;
$bgDarkBlue: #2e7ce24f;

// $bgVDarkBlue: #1051a7;

$lightpurple: #ece4f7;
$boxShadow1: 0 1px 4px rgba(0, 21, 41, 0.25);

$bigShadow: 0 10px 30px -5px rgba(0, 0, 0, 0.911);

$gradientPbot: linear-gradient(135deg, #0079bf, #5067c5);
$gradientPtop: linear-gradient(335deg, #0079bf, #5067c5);

$gradientLight: linear-gradient(135deg, #9bcae5, #b5bee9);
$gradientMedium: linear-gradient(135deg, #77bee7, #a1ade9);

$textDBlue: #203f49;
$textLBlue: #203f499c;
