.TabsDiv {
  margin-top: 1%;
  margin-bottom: 1%;
  .UsersTab {
    padding: 1% 3%;
    .ant-tabs-tab {
      border: none;

      // border-top: 1px solid #a5a5a5;
      // border-left: 1px solid #a5a5a5;
      // border-right: 1px solid #a5a5a5;
    }
    .ant-tabs-tab-active {
      background-color: white;
      border: none;
      // border-top: 1px solid #a5a5a5;
      // border-left: 1px solid #a5a5a5;
      // border-right: 1px solid #a5a5a5;
    }
  }
}

.TabsDiv {
  .UsersTab {
    .ant-tabs-tab-active {
      border: none;
    }
  }
}
