.Page404 {
  height: 100vh;
  background-image: url("../../Assets/Images/404.webp");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .content {
    font-family: "Nunito", sans-serif;
    padding-bottom: 10%;
    h4 {
      font-size: 2.5rem;
    }
    .mybuttons121 {
      padding-top: 2%;
      text-align: center;
      a {
        margin-left: 20px;
        text-decoration: underline;
      }
      button {
        font-family: "Nunito", sans-serif;
        vertical-align: middle;
      }
    }
  }
}

@media only screen and (max-width: 750px) {
  .Page404 {
    .content {
      padding-bottom: 25%;
      h4 {
        font-size: 1.5rem;
      }
    }
  }
}
