.ViewProfile {
  background-color: rgb(245, 245, 245);
}

.profile-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile-wrapper {
  width: max(100vh, 1000px);
  padding: 2% 5%;
  background-color: white;
}

.ViewProfileDiv1 {
  display: flex;
  justify-content: space-between;
  .DigiSignCard {
    .ant-card,
    .ant-card-actions {
      background-color: rgba(236, 236, 236, 0.36);
    }
    .ant-card {
      border: 1px solid rgba(184, 184, 184, 0.699);
    }
  }
}
